<!DOCTYPE html>
<html>
<head>
  <title>Hello from Flask</title>
  <link rel="stylesheet" type="text/css" href="/static/test.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" />
</head>

<body>
  <div class="container container-table">
    <div class="buttons row vertical-center-row">
      <div class="col-lg-12">
        <h1 class="title">Feature Request</h1>
        <p>Welcome, you beautiful thing you.</p>
        <button type="button" id="submit-button" class="btn btn-lg btn-outline-warning">Submit Request</button>
        <button type="button" id="view-button" class="btn btn-lg btn-outline-warning">View Requests</button>
      </div>

      <div class="col-lg-12" id="submit-div">
        <form action="" method="POST">
          <div class="form-group row">
            <label for="client" class="col-xs-2 col-form-label">Client</label>
            <div class="col-xs-4">
              <select class="form-control" id="client">
                <option>Client A</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="priority" class="col-xs-2 col-form-label">Priority</label>
            <div class="col-xs-8">
              <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
              </label>
              <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
              </label>
              <label class="form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
              </label>
            </div>
          </div>

          <div class="form-group row">
            <label for="title" class="col-xs-2 col-form-label">Title</label>
            <div class="col-xs-10">
              <input type="text" class="form-control" id="title" name="title" placeholder="Title">
            </div>
          </div>

          <div class="form-group row">
            <label for="description" class="col-xs-2 col-form-label"></label>
            <div class="col-xs-10">
              <textarea class="form-control" id="description" name="description" placeholder="Description" rows="2"></textarea>
            </div>
          </div>

          <div class="form-group row">
            <label for="request_url" class="col-xs-2 col-form-label">Related URL</label>
            <div class="col-xs-10">
              <input type="url" class="form-control" id="request_url" name="request_url" placeholder="Related URL">
            </div>
          </div>

      <div class="form-group row">
        <div class="col-xs-10">
          <div class="form-group row btn-group" data-toggle="buttons">
            <!-- <label for="options" class="col-xs-2 col-form-label">Related URL</label> -->
            <label class="btn btn-primary active">
              <input type="radio" name="options" id="policies" autocomplete="off" checked> Policies
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option3" autocomplete="off"> Radio 3
            </label>
          </div>
        </div>
      </div>

          <div class="form-group row">
            <div class="offset-sm-2 col-xs-4">
              <input type="submit" class="btn active" name="submit" value="Submit">
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <!-- bootstrap is needy -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/static/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function() {
    $('#submit-div').hide();
    $('#submit-button').click(function() {
      $('.buttons').addClass('tip-top');
      $('#submit-div').show();
    });
  });
  </script>
</body>
</html>
